{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Appointments</title>
{% endblock %}
{% block body %}
    {% if notifications %}
    <ul class="messages">
        {% for notification in notifications %}
        <li class="{{ notification.tag }}">{{ notification.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% csrf_token %}
    <h4>Average waited time: {{ average_wait_time|floatformat:-1 }} seconds</h4>
    <h4 class="status_{% if in_session %}true{% else %}false{% endif %}">Status: {% if in_session %}In session{% else %}Idle{% endif %}</h4>
    <table class="table-bordered">
        <thead>
        <tr>
            <th>patient name</th>
            <th>SSN</th>
            <th>cell phone number</th>
            <th>scheduled time</th>
            <th>duration</th>
            <th>status</th>
{#            <th>start wait time</th>#}
            <th>waited time</th>
            <th>option</th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
        <tr class="st_{{ appointment.status|lower }}">
            <td>{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</td>
            <td>{{ appointment.patient.ssn }}</td>
            <td>{{ appointment.patient.cell_phone }}</td>
            <td>{{ appointment.scheduled_time|date:"H:i:s" }}</td>
            <td>{{ appointment.duration }}</td>
            <td>{{ appointment.status }}</td>
{#            <td>{{ appointment.start_wait_time|date:"H:i:s" }}</td>#}
            <td>{{ appointment.waited_time }}</td>
            <td id="{{ appointment.appointment }}">
{#                <button class="start" {% if in_session or appointment.status != 'Arrived' %}disabled{% endif %}>start</button>#}
{#                <button class="end" {% if in_session != appointment.pk %}disabled{% endif %}>end</button>#}
                <a class="start{% if in_session or appointment.status != 'Arrived' %} disabled{% endif %}">start</a>
                <a class="end{% if in_session != appointment.pk %} disabled{% endif %}">end</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="result"></div>

    <a href="{% url 'main' %}">back</a>
{% endblock %}
{% block js %}
    <script src='{% static "assets/appointment.js" %}'></script>
{% endblock %}
