{% extends 'base.html' %}
{% block head %}
    <title>Check in</title>
{% endblock %}
{% block body %}
<form action="{% url 'checkin' %}" method="post">
    {% csrf_token %}
    <table  class="table-bordered">
        {{ form }}
    </table>
{#    <label for="first_name">First name:</label>#}
{#    <input type="text" name="first_name" value="" id="first_name">#}
{#    <label for="last_name">Last name:</label>#}
{#    <input type="text" name="last_name" value="" id="last_name">#}
{#    <label for="ssn">Social security number:</label>#}
{#    <input type="text" name="ssn" value="" id="ssn">#}
{#    <label for="method">Method(GET, POST):</label>#}
{#    <input type="text" name="method" value="" id="method">#}
    <input type="submit" value="checkin">
</form>
<form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Log out</button>
</form>
    {% if identity %}
        <a href="{% url 'main' %}">Main Page</a>
    {% endif %}
{% endblock %}