{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Main</title>
{% endblock %}
{% block body %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{#Successfully log in! <br>#}
Welcome, {{ user.username }}<br>
{% if user.profile.avatar %}
    <p><img src="{% static 'media' %}/{{ user.profile.avatar }}" width="200"/> </p>
{% endif %}
<form action="{% url 'avatar' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    {{ form }}<br>
<button type="submit">Upload Avatar</button>
</form>
<a href="{% url 'appointments' %}">appointments</a><br>
<a href="{% url 'alarm' %}">alarms</a><br>
<a id="update">update appointments</a><br>
<a href="{% url 'checkin' %}">check in</a><br>
<a id="refresh_token">refresh_token</a><br>
<a href="{% url 'feeds' %}">feeds</a><br>
<a href="{% url 'tester' %}">api tester</a><br>
<form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Log out</button>
</form>
<div id="result"></div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    var update = function() {
        $('#result').html('waiting...');
        $.ajax({
            url: "{% url 'appointments' %}",
            method: 'POST',
            success:function (result) {
                $('#result').html(result);
            }
        })
    };
    $('#update').click(update);
    var refresh_token = function () {
        $('#result').html('testing');
        $.ajax({
            url: "{% url 'refresh_token' %}",
            method: 'POST',
            success: function (result) {
                $('#result').html(result);
            }
        })
    }
    $('#refresh_token').click(refresh_token);
</script>
{% endblock %}